body{
    color:rgb(0, 102, 255);
    background-color: white;
    font-family:'Assistant',sans-serif;
    font-size:1.05em;
    width: 350px;
    height: 45px;
}
#generate{
    border-radius: 5px;
    background-color :rgb(59, 137, 255);
    padding: 4px;
    color : white;
    border-width: 0.01px;
    width: 130px;
    border-color:rgb(11, 120, 229);
    justify-content: center;
    margin-left:5px;
}
input{
    border-radius:4px;
    padding-top: 5px;
    padding-bottom:5px;
    border-color: rgb(51, 153, 255);
    color:rgb(0, 102, 255);
}